.cta {
  position: relative;
  margin: auto;
  padding: 12px;
  transition: all 0.2s ease;
  color: #000;
  font-size: 24px;
  font-weight: 700;
  display: flex;
  align-items: center;
  text-decoration: none;
}
.cta:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  border-radius: 28px;
  background: #01a0e1a6 !important;
  opacity: .5;
  transition: all 0.3s ease;
  width: 65%;
  height: 62px;
}
.cta span {
  position: relative;
  font-size: 16px;
  line-height: 18px;
  font-weight: 900;
  letter-spacing: 0.25em;
  text-transform: uppercase;
  vertical-align: middle;
}
.cta svg {
  position: relative;
  top: 0;
  margin-left: 15px;
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke: #111;
  stroke-width: 2;
  transform: translateX(-5px);
  transition: all 0.3s ease;
  opacity: 0;
}
.cta:hover:before {
  width: 100%;
  background: #1095c16e;
  /* box-shadow: 0px 0px 30px 0px rgba(3, 161, 226, 0.8); */
  opacity: 1;
}
.cta:hover svg {
  transform: translateX(0);
  opacity: 1;
}
.cta:active {
  transform: scale(0.96);
}

.cta:hover {
  cursor: pointer;
}
@media screen and (max-width: 500px) {
  .cta {
    font-size: 18px;
    margin-bottom: 20px;
  }
  .cta:before {
    height: 50px;
    width: 100%;
    background: #1095c16e;
    /* box-shadow: 0px 0px 30px 0px rgba(3, 161, 226, 0.8); */
    opacity: 1;
  }
  .cta svg {
    transform: translateX(0);
    opacity: 1;
  }
  
  .cta {
    cursor: pointer;
  }
}