.project_card1 {
  box-shadow: 5px 10px 18px #888888;
  margin: 1%;
  height: 30vh;
  border-radius: 30px;
  background-image: url("../assests/service1.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  padding: 0px !important;
}

.project_card1:hover {
  box-shadow: none !important;
  transition: 1s ease;
  cursor: pointer;
}
.project_card2:hover {
  box-shadow: none !important;
  transition: 1s ease;
  cursor: pointer;
}
.project_card3:hover {
  box-shadow: none !important;
  transition: 1s ease;
  cursor: pointer;
}
.project_card4:hover {
  box-shadow: none !important;
  transition: 1s ease;
  cursor: pointer;
}

.project_card2 {
  box-shadow: 5px 10px 18px #888888;
  margin: 1%;
  border-radius: 30px;
  background-image: url("../assests/service2.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 0px !important;
}

.project_card3 {
  box-shadow: 5px 10px 18px #888888;
  margin: 1%;
  border-radius: 30px;
  background-image: url("../assests/service3.jpg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  height: 30vh;
  padding: 0px !important;
}

.project_card4 {
  box-shadow: 5px 10px 18px #888888;
  margin: 1%;
  border-radius: 30px;
  background-image: url("../assests/service4.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  height: 30vh;
  padding: 0px !important;
}

.sample_image {
  background-image: url("../assests/sample_image1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 20vw;
  width: 45vh;
  background-size: 45vh 20vw;
}

.sample_image_mobile {
  background-image: url("../assests/sample_image1.jpg");
  background-size: contain;
  background-repeat: no-repeat;
  height: 40vh;
  /* width: 45vh; */
  background-size: 100%;
}

.title_1 {
  width: 30vh;
  background-color: #D9D9D9;
  display: flex;
  justify-content: center;
  align-items: center;

  --c: #1095c1; /* the color */
  --b: 0.1em; /* border length*/
  --d: 20px; /* the cube depth */

  --_s: calc(var(--d) + var(--b));
  transform: translate(calc(var(--d) / -1), var(--d));
  clip-path: polygon(
    var(--d) 0%,
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    100% calc(100% - var(--d)),
    var(--d) calc(100% - var(--d))
  );
  transition: 0.5s;
}

.title_1:hover {
  cursor: pointer;
  transform: translate(0, 0);
  clip-path: polygon(
    0% var(--d),
    var(--d) 0%,
    100% 0%,
    100% calc(100% - var(--d)),
    calc(100% - var(--d)) 100%,
    0% 100%
  );
}
